@inherits GuildsBase
@page "/Guilds"

<PageTitle>Guilds</PageTitle>

<div>

    <MudAppBar Color="Color.Primary" Fixed="false" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Pix" Color="Color.Inherit" Edge="Edge.Start" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" />
    </MudAppBar>

    <MudPaper Class="mud-theme-primary d-flex align-center justify-center" Height="calc(50dvh - 48px)">
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudGrid Spacing="0" Justify="Justify.Center">
                    <MudItem xs="12" sm="8" md="6">
                        <MudStack>
                            <MudText Align="Align.Center" Class="white-text" Typo="Typo.h4">
                                Guilds list
                            </MudText>

                            <MudText Align="Align.Center">
                                um texto legal aqui
                            </MudText>

                            <MudTextField T="string"
                                          Margin="Margin.Dense"
                                          Placeholder="Search"
                                          Variant="Variant.Outlined"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          AdornmentColor="Color.Tertiary" />
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudPaper Height="50dvh">
        <MudGrid Spacing="0">
            <MudItem xs="12">
                <MudPaper Elevation="0" Width="100%" Class="pa-3 d-flex justify-center">
                    <MudGrid Spacing="0">
                        <MudItem xs="4">
                            <MudGrid Spacing="0">
                                <MudItem xs="4">
                                    <MudPaper Class="pa-1 d-flex align-center justify-center" Height="100%" Elevation="3">
                                        <MudAvatar Size="Size.Large" Rounded="true" Color="Color.Primary" Variant="Variant.Outlined">
                                            <MudIcon Icon="@Icons.Material.Filled.Person" />
                                        </MudAvatar>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs="8">
                                    <MudPaper Class="pa-1" Elevation="3">
                                        <MudStack>
                                            <MudText>
                                                <b>Nome Server</b>
                                            </MudText>

                                            <MudStack>
                                                <MudText>20 membros</MudText>
                                                <MudText>alguma outra info</MudText>
                                            </MudStack>
                                        </MudStack>
                                    </MudPaper>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>