@inherits LoginBase
@page "/login"

<PageTitle>Login</PageTitle>

<div>

    <MudGrid Spacing="0">
        <MudItem xs="12">
            <MudPaper Elevation="0" Height="100dvh" Width="100%" Class="bgimage pa-3 d-flex align-center justify-center">
                <MudGrid Justify="Justify.Center" Spacing="0">
                    <MudItem xs="10" sm="6" md="4">
                        <EditForm Model="userDto">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>

                            <MudPaper Elevation="10" Class="d-flex rounded-lg align-center justify-center white-text pa-10">
                                <MudGrid Spacing="2">

                                    <MudItem xs="12">
                                        <MudStack>
                                            <MudText Typo="Typo.h6" Align="Align.Center">Boas-vindas de volta!</MudText>
                                            <MudText Color="Color.Secondary" Typo="Typo.body1" Align="Align.Center">Estamos muito animados em te ver novamente!</MudText>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Username</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          T="string"
                                                          MaxLength="50"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudStack Spacing="0" Row="false">
                                            <MudText Color="Color.Secondary">Senha</MudText>
                                            <MudTextField Margin="Margin.Dense"
                                                          InputType="@PasswordInput"
                                                          Adornment="Adornment.End"
                                                          AdornmentIcon="@PasswordInputIcon"
                                                          OnAdornmentClick="ShowPassword"
                                                          T="string"
                                                          MaxLength="50"
                                                          Variant="Variant.Outlined">
                                            </MudTextField>
                                        </MudStack>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudLink>
                                            <MudText Align="Align.Start">Esqueceu sua senha?</MudText>
                                        </MudLink>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary">Entrar</MudButton>
                                    </MudItem>

                                    <MudItem xs="12">
                                        <MudText Align="Align.Start" Color="Color.Secondary">Precisando de uma conta? <MudLink OnClick="HandleRegisterClickAsync">Registre-se</MudLink></MudText>
                                    </MudItem>

                                </MudGrid>
                            </MudPaper>

                        </EditForm>
                    </MudItem>

                </MudGrid>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>